<ion-content>
    <div class = "container">

      <!-- HEAD -->
      <div class = "head">
        <div class="back_button"  >
          <i class="fas fa-chevron-left" style=" color: white; font-size: 20px ; font-size: 20px ; vertical-align: -webkit-baseline-middle" *ngIf="root" (click)="navigate_back()"></i>
          <i class="fas fa-chevron-left" style=" color: #875A7B; font-size: 20px ; font-size: 20px ; vertical-align: -webkit-baseline-middle" *ngIf="!root"></i>
        </div>

        <div class = "menu">
          <div class="list_icon">
            <i class="fas fa-at" style="color: white ;   margin-right: 10px; font-size: 20px ; font-size: 20px ; vertical-align: -webkit-baseline-middle"></i>
            <i class="fas fa-comments" style=" color: white ;   margin-right: 10px; font-size: 20px ; font-size: 20px ; vertical-align: -webkit-baseline-middle"></i>
            <i class="fas fa-ban on fa-camera" style=" color: white ;   margin-right: 10px; font-size: 20px ; font-size: 20px ; vertical-align: -webkit-baseline-middle"></i>
          </div> 
        </div>

        <div class= "menu_icon">
            <i class="fas fa-bars" style=" color: white; font-size: 20px ; font-size: 20px ; vertical-align: -webkit-baseline-middle"></i>
        </div>
      </div>
      <!-- HEAD -->

      <!-- SEARCH-BAR -->
      <div class="search_bar">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fas fa-search"></i></span>
          <input class="search" type="text" pInputText placeholder="Recherche">         
        </div>
      </div>
       <!-- SEARCH-BAR -->
    

    <div class="body">
        <div class="ui-g">
            <div class="cmp ui-g-3" (click)="open_discussion()">
              <img class = "mn_icn" src = "assets/image/discuter.png">
              <span class="nom">Discuter</span>
            </div>
            <div class="cmp ui-g-3" (click)="open_fiches_client()">
                <img class = "mn_icn" src = "assets/image/client.png">
                <span class="nom">Fiches client</span>
            </div>
            <div class="cmp ui-g-3" (click)="open_tournees()">
                <img class = "mn_icn" src = "assets/image/tournes.png">
                <span class="nom">Tournées</span>
            </div>
            
            <div class="cmp ui-g-3">
              <img class = "mn_icn" src = "assets/image/parametrage.png">
                <span class="nom">Paramétrage</span>
            </div>

            <div class="cmp ui-g-3">
              <img class = "mn_icn" src = "assets/image/visite.png">
                <span class="nom">Fiche de visite</span>
            </div>
        </div>
    </div>

    <div class = "footer">
      <img src = "assets/image/Odoo.png">
    </div>

</div>

</ion-content>
