	<ion-content>
	  <div *ngIf="edit == false" class = "container">
		<div class = "container">
			<!-- HEAD -->
			<div class = "head">
			  <div class="back_button" (click) = "open_menu()" >
				<i class="fas fa-th" style=" color: white; font-size: 20px ; font-size: 20px ; vertical-align: -webkit-baseline-middle"></i>
			  </div>

			  <div class = "menu">
				<div class="list_icon">
				  <i class="fas fa-at" style="color: white ;   margin-right: 10px; font-size: 20px ; font-size: 20px ; vertical-align: -webkit-baseline-middle"></i>
				  <i class="fas fa-comments" style=" color: white ;   margin-right: 10px; font-size: 20px ; font-size: 20px ; vertical-align: -webkit-baseline-middle"></i>
				  <i class="fas fa-ban on fa-camera" style=" color: white ;   margin-right: 10px; font-size: 20px ; font-size: 20px ; vertical-align: -webkit-baseline-middle"></i>
				</div> 
			  </div>

			  <div class= "menu_icon">
				  <i class="fas fa-bars" style=" color: white; font-size: 20px ; font-size: 20px ; vertical-align: -webkit-baseline-middle"></i>
			  </div>
			</div>
		
		
			<div class="body">
				<div class = "title_body" (click) = "open_fiche_client()" >
				  <h3>
					  <i class="fas fa-arrow-left" style="font-size: 18px ; color: #21B799"></i> {{data_cli.name}}
				  </h3>
				</div>

				<div class = "btn_nw_cr">
				  <button pButton type="button" label="MODIFIER"     class="bt ui-button-success" (click) = "edit_fiche_client()"></button>
				  <button pButton type="button" label="CRÉER"  class="bt ui-button-secondary"  (click) = "create_fiche_client()"></button>
				</div>
				
				<div class="breacumb ui-g">
				  <div class="ui-g-4">
					  <button pButton type="button" label="VALIDÉE PAR SUPERVISEUR"  class="bt ui-button-secondary"></button>
				  </div>
				  <div class="ui-g-8 dropdownworkflow">
					  <!-- <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb> -->
					  <p-dropdown [options]="items" [(ngModel)]="selectedCity" placeholder="PROSPECT" optionLabel="label" [showClear]="true"></p-dropdown>
				  </div> 
				</div>

				<div class = "archive  ui-g">
					<div class="ui-g-7"></div>
					<div class="div_btn ui-g-5" >
						<!-- <button pButton type="button" icon="pi pi-folder" iconPos="left" label="ARCHIVER"  class="bt ui-button-danger"></button> -->
						<ul class="CustomArchive">
						  <li *ngIf="data_cli.active == 0" (click)="ConvertStatut(1)">
							<i class="pi pi-folder"></i>
							Actif
						  </li>
						  <li *ngIf="data_cli.active == 1" (click)="ConvertStatut(0)">
							<i class="pi pi-folder"></i>
							Inactif
						  </li>
						</ul>
					</div>
				</div>

				<div class = "photo  ui-g">
					<div class="ui-g-9">
					   <h2 class="DataCLI">{{data_cli.name}}</h2>
					</div>
		  
					<div class="cam ui-g-3">
						<i class="pi pi-camera" style="font-size: 78px ; color: gray" (click)="takePicture()"></i> <br />
						<div class="del_mod_btn">
							<button pButton type="button" icon="pi pi-pencil" iconPos="center" class="bt ui-button-success"></button>
							<button pButton type="button" icon="pi pi-trash" iconPos="center" class="bt ui-button-danger"></button>
						</div>
						
					</div>
				</div>
				
				  
				<div class = "form">
					<div class = "form_inside">
					  <div class="form_item">
						<!--Organisation Commerciale-->
						<h3>Organisation Commerciale</h3>
						  <ion-label position="floating">Région</ion-label>
						  <p> {{client_detail.region}}</p>
						  <ion-label position="floating">Agence</ion-label>
						  <p> {{client_detail.agence}}</p>
						  <ion-label position="floating">Zone</ion-label>
						  <p> {{client_detail.zone}}</p>
						  <ion-label position="floating">Secteur</ion-label>
						  <p> {{client_detail.secteur}}</p>
						  <!--Organisation Commerciale-->
					  </div>
					  

					  <div class="form_item">
						<!--Coordonnées du point de vente-->
						<h3>Coordonnées du point de vente</h3>
						  <ion-label position="floating">Nom du POS</ion-label>
						  <p> {{client_detail.nom_pos}}</p>
						  <ion-label position="floating">Nom du Gérant</ion-label>
						  <p> {{client_detail.nom_gerant}}</p>
						  <ion-label position="floating">Adresse</ion-label>
						  <p> {{client_detail.adresse}}</p>
						  <ion-label position="floating">Repère</ion-label>
						  <p> {{client_detail.repere}}</p>
						  <ion-label position="floating">Quartier</ion-label>
						  <p> {{client_detail.quartier}}</p>
						  <ion-label position="floating">Ville</ion-label>
						  <p> {{client_detail.ville}}</p>
						  <ion-label position="floating">N° de téléphone 1</ion-label>
						  <p> {{client_detail.numero_telephone1}}</p>
						  <ion-label position="floating">N° de téléphone 2</ion-label>
						  <p> {{client_detail.numero_telephone2}}</p>
						  <ion-label position="floating">N° de téléphone 3</ion-label>
						  <p> {{client_detail.numero_telephone3}}</p>
						<!--Coordonnées du point de vente-->
					  </div>
							
					  <div class="form_item">
						<!--Coordonnées complémentaire du Point de Vente-->
						<h3>Coordonnées complémentaire du Point de Vente</h3>
						  <ion-label position="floating">Emplacement</ion-label>
						  <p> {{client_detail.emplacement}}</p>
						  <ion-label position="floating">Proximité</ion-label>
						  <p> {{client_detail.proximite}}</p>
						  <ion-label position="floating">Type de quartier</ion-label>
						  <p> {{client_detail.type_quartier}}</p>
						<div class="gps">
						  <p>Coordonnées GPS Latitude : {{client_detail.latitude}}</p>
						  <p>Coordonnées GPS Longitude : {{client_detail.longitude}} </p>
						</div>
						  <!--Coordonnées complémentaire du Poin de Vente-->
					  </div>
						   

					  <div class="form_item">
						<!--Typologie de Point de Vente-->
						<h3>Typologie de Point de Vente</h3>
							<ion-label position="floating">Type Client</ion-label>
							<p> {{client_detail.type_client}}</p>
							<ion-label position="floating">Activité POS</ion-label>
							<p> {{client_detail.activite_pos}}</p>
							<ion-label position="floating">Canal</ion-label>
							<p> {{client_detail.canal}}</p>
							<ion-label position="floating">Enseigne d'appartenance</ion-label>
							<p> {{client_detail.enseigne_appartenance}}</p>
							<ion-label position="floating">Classification 1</ion-label>
							<p> {{client_detail.classification1}}</p>
							<ion-label position="floating">Classification 2</ion-label>
							<p> {{client_detail.classification2}}</p>
							  <!--Typologie de Point de Vente-->
					  </div>
						
					  <div class="form_item">
						<!--Couverture commerciale-->
						<h3>Couverture commerciale</h3>
							<ion-label position="floating">Couverture commerciale</ion-label>
							<p> {{client_detail.couverture_commerciale}}</p>
							<ion-label position="floating">Fréquence de visite</ion-label>
							<p> {{client_detail.frequence_visite}}</p>
						  <!--Couverture commerciale-->
					  </div>
							 


						 <!--ZAVATRA MITSIVALANA-->
						 <p-tabView>
							<p-tabPanel header="AGENTS COMMERCIAUX">
								<ion-chip>
								  <ion-label>{{client_detail.signature}}</ion-label>
								</ion-chip>
							</p-tabPanel>

							<p-tabPanel header="PERMANENT POSM">
								<ion-label position="floating">Cible installation présentoirs</ion-label>
								<p class="TxtBoldtabPanel"> {{client_detail.cible_installation_presentoirs}}</p>
								<ion-label position="floating">Permanent POSM 1</ion-label>
								<p class="TxtBoldtabPanel"> {{client_detail.permanent_POSM1_id}}</p>
								<ion-label position="floating">Permanent POSM 2</ion-label>
								<p class="TxtBoldtabPanel"> {{client_detail.permanent_POSM2_id}}</p>
								<ion-label position="floating">Permanent POSM 3</ion-label>
								<p class="TxtBoldtabPanel"> {{client_detail.permanent_POSM3_id}}</p>
								<ion-label position="floating">Permanent POSM 4</ion-label>
								<p class="TxtBoldtabPanel"> {{client_detail.permanent_POSM4_id}}</p>
								<ion-label position="floating">Permanent POSM 5</ion-label>
								<p class="TxtBoldtabPanel"> {{client_detail.permanent_POSM5_id}}</p>
							</p-tabPanel>

							<p-tabPanel header="CONTRAT">
								<ion-label position="floating">Contrat</ion-label>
								<p class="TxtBoldtabPanel"> {{client_detail.contrat}}</p>
								<ion-label position="floating">Date debut contrat</ion-label>
								<p class="TxtBoldtabPanel"> {{client_detail.date_debut_contrat}}</p>
								<ion-label position="floating">Date fin contrat</ion-label>
								<p class="TxtBoldtabPanel"> {{client_detail.date_debut_contrat}}</p>
							</p-tabPanel>

							<p-tabPanel header="ACTIVATION">
								<ion-label position="floating">Coopération ITG</ion-label>
								<p class="TxtBoldtabPanel"> {{client_detail.cooperation_itg}}</p>
								<ion-label position="floating">Activation autorisée</ion-label>
								<p class="TxtBoldtabPanel"> {{client_detail.activation_autorisee}}</p>
								<ion-label position="floating">Préférence animateur</ion-label>
								<p class="TxtBoldtabPanel"> {{client_detail.preference_animateur}}</p>
						  </p-tabPanel>

						  <p-tabPanel header="APPROVISIONNEMENT">
							<ion-label position="floating">Fréquence d'approvisionnement</ion-label>
							<p class="TxtBoldtabPanel"> {{client_detail.frequence_approvisionnement}}</p>
							<ion-label position="floating">Source d'approvisionnemen</ion-label>
							<p class="TxtBoldtabPanel"> {{client_detail.source_approvisionnement}}</p>
							<ion-label position="floating">Fournisseur principal</ion-label>
							<p class="TxtBoldtabPanel"> {{client_detail.fournisseur_principale}}</p>
							<ion-label position="floating">Fournisseur secondaire</ion-label>
							<p class="TxtBoldtabPanel"> {{client_detail.fournisseur_secondaire}}</p>
						  </p-tabPanel>
						  
						</p-tabView>

						 <!--ZAVATRA MITSIVALANA-->
						 <!--Commentaire-->
						<ion-label position="floating">Commentaires</ion-label>
						<p> {{client_detail.commentaire}}</p>
						  <!--Commentaire-->


					</div>
				</div>
			</div>

			<div class="footer"></div>
			
		</div>
	  </div>

	  <!--EDIT-->
	  <div *ngIf="edit == true" class = "container">
		<div class = "container">

			<!-- HEAD -->
			<div class = "head">
			  <div class="back_button">
				<i class="pi pi-th-large" style="font-size: 24px ; color: white"></i>
			  </div>

			  <div class = "menu">
				<div class="list_icon">
				  <i class="pi pi-envelope" style="font-size: 24px ; color: white ; margin-right: 6px"></i>
				  <i class="pi pi-comments" style="font-size: 24px ; color: white ; margin-right: 6px"></i>
				  <i class="pi pi-user" style="font-size: 24px ; color: white ; margin-right: 6px"></i>
				</div> 
			  </div>

			  <div class= "menu_icon">
				  <i class="pi pi-bars" style="font-size: 24px ; color: white"></i>
			  </div>
			</div>
			<!-- HEAD -->

			<div class="body">

			  <div class = "title_body" (click) = "open_fiche_client()">
				<h3>
					<i class="fas fa-arrow-left" style="font-size: 18px ; color: #21B799"></i> {{data_cli.name}}
				</h3>
			  </div>

			  <div class = "btn_nw_cr">
				<button pButton type="submit" label="SAUVEGARDER"   (click)= "save_edit()"  class="bt ui-button-success" ></button>
				<button pButton type="button" label="ANNULER"  class="bt ui-button-secondary" (click) = "abort_edit_client()"></button>
			  </div>
			  <div class="breacumb ui-g">
				<div class="ui-g-4">
					<button pButton type="button" label="VALIDÉE PAR SUPERVISEUR"  class="bt ui-button-secondary"></button>
				</div>

				<div class="ui-g-8 dropdownworkflow">
					<!-- <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb> -->
					<p-dropdown [options]="items" [(ngModel)]="selectedCity" placeholder="PROSPECT" optionLabel="label" [showClear]="true"></p-dropdown>
				</div> 
			   
			  </div>

			  <div class = "archive  ui-g">
				  <div class="ui-g-7">
					 
				  </div>
		
				  <div class="div_btn ui-g-5">
					  <button pButton type="button" icon="pi pi-folder" iconPos="left" label="ARCHIVER"  class="bt ui-button-danger"></button>
				  </div>
			  </div>

			  <div class = "photo  ui-g">
				  <div class="ui-g-9">
					 
				  </div>
		
				  <div class="cam ui-g-3" >
					  <i class="pi pi-camera" style="font-size: 78px ; color: gray" (click)="takePicture()" *ngIf = "!base64Image"></i> <br />
					  <img *ngIf = "base64Image" [src] = "base64Image">
					  <div class="del_mod_btn">
						  <button pButton type="button" icon="pi pi-pencil" iconPos="center" class="bt ui-button-success"></button>
						  <button pButton type="button" icon="pi pi-trash" iconPos="center" class="bt ui-button-danger"></button>
					  </div>
				  </div>

			  </div>

				
			  <div class = "form">
				<form [formGroup]="fiche_client" (ngSubmit) = "save_edit()">
				  <div class = "form_inside">

					
					<div class="form_item">
					  <!--Organisation Commerciale-->
					  <h3>Organisation Commerciale</h3>

					  <ion-item>
						<ion-label position="floating">Région</ion-label>
						<ion-select [(ngModel)] = "data_cli.region_id" [value]="data_cli.region_id" formControlName= "region_id" (ionCancel) = "cancel('region_id')" >
						  <ion-select-option *ngFor = "let region of i_t_region" [value]= "region.id"> {{region.name}}</ion-select-option>
						</ion-select>
					  </ion-item>

					  <ion-item>
						<ion-label position="floating">Agence</ion-label>
						<ion-select [(ngModel)] = "data_cli.agence_id" [value]="data_cli.agence_id" formControlName= "agence_id" (ionCancel) = "cancel('agence_id')" >
						  <ion-select-option *ngFor = "let agence of i_t_agence" [value] = "agence.id" > {{agence.name}}</ion-select-option>
						</ion-select>
					  </ion-item>

					  <ion-item>
						<ion-label position="floating">Zone</ion-label>
						<ion-select [(ngModel)] = "data_cli.zone_id" [value]="data_cli.zone_id" formControlName= "zone_id" (ionCancel) = "cancel('zone_id')" >
						  <ion-select-option *ngFor = "let zone of i_t_zone" [value] = "zone.id" > {{zone.name}}</ion-select-option>
						</ion-select>
					  </ion-item>

					  <ion-item>
						<ion-label position="floating">Secteur</ion-label>
						<ion-select [(ngModel)] = "data_cli.secteur_id" [value]="data_cli.secteur_id" formControlName= "secteur_id" (ionCancel) = "cancel('secteur_id')" >
						  <ion-select-option *ngFor = "let secteur of i_t_secteur" [value] = "secteur.id" > {{secteur.name}}</ion-select-option>
						</ion-select>
					  </ion-item>

						  <!--Organisation Commerciale-->
					</div>
					

					<div class="form_item">
					  <!--Coordonnées du point de vente-->
					  <h3>Coordonnées du point de vente</h3>

					  <ion-item>
						  <ion-label position="floating">Nom du POS</ion-label>
						  <ion-input [(ngModel)] = "data_cli.nom_pos" [value]="data_cli.nom_pos" formControlName= "nom_pos" type="text"> </ion-input>
					  </ion-item>

					  <ion-item>
						<ion-label position="floating">Nom du Gérant</ion-label>
						<ion-input [(ngModel)] = "data_cli.nom_gerant" [value]="data_cli.nom_gerant" formControlName= "nom_gerant" type="text"> </ion-input>
					  </ion-item>

					  <ion-item>
						<ion-label position="floating">Adresse</ion-label>
						<ion-input [(ngModel)] = "data_cli.adresse" [value]="data_cli.adresse" formControlName= "adresse" type="text"> </ion-input>
					  </ion-item>

					  <ion-item>
						<ion-label position="floating">Repère</ion-label>
						<ion-input [(ngModel)] = "data_cli.repere" [value]="data_cli.repere" formControlName= "repere" type="text"> </ion-input>
					  </ion-item>

					  <ion-item>
						<ion-label position="floating">Quartier</ion-label>
						<ion-input [(ngModel)] = "data_cli.quartier" [value]="data_cli.quartier" formControlName= "quartier" type="text"> </ion-input>
					  </ion-item>

					  <ion-item>
						<ion-label position="floating">Ville</ion-label>
						<ion-select [(ngModel)] = "data_cli.ville_id" [value]="data_cli.ville_id" formControlName= "ville_id" (ionCancel) = "cancel('ville_id')">
						  <ion-select-option *ngFor = "let ville of i_t_ville" [value] = "ville.id" > {{ville.name}}</ion-select-option>
						</ion-select>
					  </ion-item>

					  <ion-item>
						<ion-label position="floating">N° de téléphone 1</ion-label>
						<ion-input [(ngModel)] = "data_cli.numero_telephone1" [value]="data_cli.numero_telephone1" formControlName= "numero_telephone1" type="text"> </ion-input>
					  </ion-item>

					  <ion-item>
						<ion-label position="floating">N° de téléphone 2</ion-label>
						<ion-input [(ngModel)] = "data_cli.numero_telephone2" [value]="data_cli.numero_telephone2" formControlName= "numero_telephone2" type="text"> </ion-input>
					  </ion-item>

					  <ion-item>
						<ion-label position="floating">N° de téléphone 3</ion-label>
						<ion-input [(ngModel)] = "data_cli.numero_telephone3" [value]="data_cli.numero_telephone3" formControlName= "numero_telephone3" type="text"> </ion-input>
					  </ion-item>
									
					  <!--Coordonnées du point de vente-->
					</div>
						  
					<div class="form_item">
					  <!--Coordonnées complémentaire du Point de Vente-->
					  <h3>Coordonnées complémentaire du Point de Vente</h3>

					  <ion-item>
						<ion-label position="floating">Emplacement</ion-label>
						<ion-select [(ngModel)] = "data_cli.emplacement_id" [value]="data_cli.emplacement_id" formControlName= "emplacement_id" (ionCancel) = "cancel('emplacement_id')" >
						  <ion-select-option *ngFor = "let emplacement of i_t_emplacement" [value] = "emplacement.id" > {{emplacement.name}}</ion-select-option>
						</ion-select>
					  </ion-item>

					  <ion-item>
						<ion-label position="floating">Proximité</ion-label>
						<ion-select [(ngModel)] = "data_cli.proximite_id" [value]="data_cli.proximite_id" formControlName= "proximite_id" (ionCancel) = "cancel('proximite_id')">
						  <ion-select-option *ngFor = "let proximite of i_t_proximite" [value] = "proximite.id" > {{proximite.name}}</ion-select-option>
						</ion-select>
					  </ion-item>

					  <ion-item>
						<ion-label position="floating">Type Quartier</ion-label>
						<ion-select [(ngModel)] = "data_cli.type_quartier_id" [value]="data_cli.type_quartier_id" formControlName= "type_quartier_id" (ionCancel) = "cancel('type_quartier_id')">
						  <ion-select-option *ngFor = "let type_qurtier of i_t_type_quartier" [value] = "type_qurtier.id" > {{type_qurtier.name}}</ion-select-option>
						</ion-select>
					  </ion-item>

					  <div class="gps">
							<button type="button" (click) = "getMyLocation()"><i class="fas fa-map-marker-alt" style="font-size: 18px ; color: orange"></i>Récuperer ma position</button>
						<p>Coordonnées GPS Latitude : <ion-input [(ngModel)] = "data_cli.latitude" [value]="data_cli.latitude" formControlName= "latitude" type="text"> </ion-input></p>
						<p>Coordonnées GPS Longitude : <ion-input [(ngModel)] = "data_cli.longitude" [value]="data_cli.longitude" formControlName= "longitude" type="text"> </ion-input> </p>
					  </div>


						<!--Coordonnées complémentaire du Poin de Vente-->
					</div>
						 

					<div class="form_item">
					  <!--Typologie de Point de Vente-->
					  <h3>Typologie de Point de Vente</h3>

					  <ion-item>
						<ion-label position="floating">Type Client</ion-label>
						<ion-select [(ngModel)] = "data_cli.type_client_id" [value]="data_cli.type_client_id" formControlName= "type_client_id" (ionCancel) = "cancel('type_client_id')">
						  <ion-select-option *ngFor = "let type_client of i_t_type_client" [value] = "type_client.id" > {{type_client.name}}</ion-select-option>
						</ion-select>
					  </ion-item>

					  <ion-item>
						  <ion-label position="floating">Activité POS</ion-label>
						  <ion-select [(ngModel)] = "data_cli.activite_pos_id" [value]="data_cli.activite_pos_id" formControlName= "activite_pos_id" (ionCancel) = "cancel('activite_pos_id')">
							<ion-select-option *ngFor = "let activite_pos of i_t_activite_pos" [value] = "activite_pos.id" > {{activite_pos.name}}</ion-select-option>
						  </ion-select>
						</ion-item>

						<ion-item>
							<ion-label position="floating">Enseigne d'appartenance</ion-label>
							<ion-select [(ngModel)] = "data_cli.enseigne_appartenance_id" [value]="data_cli.enseigne_appartenance_id" formControlName= "enseigne_appartenance_id" (ionCancel) = "cancel('enseigne_appartenance_id')" >
							  <ion-select-option *ngFor = "let enseigne_appartenance of i_t_enseigne_appartenance" [value] = "enseigne_appartenance.id" > {{enseigne_appartenance.name}}</ion-select-option>
							</ion-select>
						  </ion-item>

						  <ion-item>
							  <ion-label position="floating">Classification 1</ion-label>
							  <ion-select [(ngModel)] = "data_cli.classification1_id" [value]="data_cli.classification1_id" formControlName= "classification1_id" (ionCancel) = "cancel('classification1_id')" >
								<ion-select-option *ngFor = "let classification1 of i_t_classification1" [value] = "classification1.id" > {{classification1.name}}</ion-select-option>
							  </ion-select>
							</ion-item>

							<ion-item>
								<ion-label position="floating">Classification 2</ion-label>
								<ion-select [(ngModel)] = "data_cli.classification2_id" [value]="data_cli.classification2_id" formControlName= "classification2_id" (ionCancel) = "cancel('classification2_id')" >
								  <ion-select-option *ngFor = "let classification2 of i_t_classification2" [value] = "classification2.id" > {{classification2.name}}</ion-select-option>
								</ion-select>
							  </ion-item>


							<!--Typologie de Point de Vente-->
					</div>
					  
					<div class="form_item">
					  <!--Couverture commerciale-->
					  <h3>Couverture commerciale</h3>

					  <ion-item>
						<ion-label position="floating">Couverture commerciale</ion-label>
						<ion-select [(ngModel)] = "data_cli.couverture_commerciale_id" [value]="data_cli.couverture_commerciale_id" formControlName= "couverture_commerciale_id" (ionCancel) = "cancel('couverture_commerciale_id')" >
						  <ion-select-option *ngFor = "let couverture_commerciale of i_t_couverture_commerciale" [value] = "couverture_commerciale.id" > {{couverture_commerciale.name}}</ion-select-option>
						</ion-select>
					  </ion-item>

					  <ion-item>
						  <ion-label position="floating">Fréquence de visite</ion-label>
						  <ion-select [(ngModel)] = "data_cli.frequence_visite_id" [value]="data_cli.frequence_visite_id" formControlName= "frequence_visite_id" (ionCancel) = "cancel('frequence_visite_id')">
							<ion-select-option *ngFor = "let frequence_visite of i_t_frequence_visite" [value] = "frequence_visite.id" > {{frequence_visite.name}}</ion-select-option>
						  </ion-select>
						</ion-item>

						<!--Couverture commerciale-->
					</div>
						   


					   <!--ZAVATRA MITSIVALANA-->
					   <p-tabView>

						  <p-tabPanel header="AGENTS COMMERCIAUX">
							  <ion-chip>
								<ion-label>{{client_detail.signature}}</ion-label>
							  </ion-chip>
						  </p-tabPanel>

						  <p-tabPanel header="PERMANENT POSM">

							<ion-item>
								<ion-label position="floating">Cible installation présentoirs</ion-label>
								<ion-select [(ngModel)] = "data_cli.cible_installation_presentoirs_id" [value]="data_cli.cible_installation_presentoirs_id" formControlName= "cible_installation_presentoirs_id" (ionCancel) = "cancel('cible_installation_presentoirs_id')" >
								  <ion-select-option *ngFor = "let cible_installation_presentoirs of i_t_cible_installation_presentoirs" [value] = "cible_installation_presentoirs.id" > {{cible_installation_presentoirs.name}}</ion-select-option>
								</ion-select>
							</ion-item>
							
							<ion-item>
								<ion-label position="floating">Permanent POSM 1</ion-label>
								<ion-select [(ngModel)] = "data_cli.permanent_POSM1_id" [value]="data_cli.permanent_POSM1_id" formControlName= "permanent_POSM1_id" (ionCancel) = "cancel('permanent_POSM1_id')">
								  <ion-select-option *ngFor = "let posm1 of i_t_permanent_posm" [value] = "posm1.id" > {{posm1.name}}</ion-select-option>
								</ion-select>
							</ion-item>
						  
							<ion-item>
								<ion-label position="floating">Permanent POSM 2</ion-label>
								<ion-select [(ngModel)] = "data_cli.permanent_POSM2_id" [value]="data_cli.permanent_POSM2_id" formControlName= "permanent_POSM2_id" (ionCancel) = "cancel('permanent_POSM2_id')">
								  <ion-select-option *ngFor = "let posm2 of i_t_permanent_posm" [value] = "posm2.id" > {{posm2.name}}</ion-select-option>
								</ion-select>
							</ion-item>
						  
							<ion-item>
								<ion-label position="floating">Permanent POSM 3</ion-label>
								<ion-select [(ngModel)] = "data_cli.permanent_POSM3_id" [value]="data_cli.permanent_POSM3_id" formControlName= "permanent_POSM3_id" (ionCancel) = "cancel('permanent_POSM3_id')">
								  <ion-select-option *ngFor = "let posm3 of i_t_permanent_posm" [value] = "posm3.id" > {{posm3.name}}</ion-select-option>
								</ion-select>
							</ion-item>
						  
							<ion-item>
								<ion-label position="floating">Permanent POSM 4</ion-label>
								<ion-select [(ngModel)] = "data_cli.permanent_POSM4_id" [value]="data_cli.permanent_POSM4_id" formControlName= "permanent_POSM4_id" (ionCancel) = "cancel('permanent_POSM4_id')">
								  <ion-select-option *ngFor = "let posm4 of i_t_permanent_posm" [value] = "posm4.id" > {{posm4.name}}</ion-select-option>
								</ion-select>
							</ion-item>
						  
							<ion-item>
								<ion-label position="floating">Permanent POSM 5</ion-label>
								<ion-select [(ngModel)] = "data_cli.permanent_POSM5_id" [value]="data_cli.permanent_POSM5_id" formControlName= "permanent_POSM5_id" (ionCancel) = "cancel('permanent_POSM5_id')">
								  <ion-select-option *ngFor = "let posm5 of i_t_permanent_posm" [value] = "posm5.id" > {{posm5.name}}</ion-select-option>
								</ion-select>
							</ion-item>
						  

						  </p-tabPanel>

						  <p-tabPanel header="CONTRAT">
							<ion-item>
								<ion-label position="floating">Contrat</ion-label>
								<ion-select [(ngModel)] = "data_cli.i_t_contrat" [value]="data_cli.i_t_contrat" (ionCancel) = "cancel('contrat_id')" >
								  <ion-select-option *ngFor = "let contrat of i_t_contrat" [value] = "contrat.id" > {{contrat.name}}</ion-select-option>
								</ion-select>
							</ion-item>
							  

						  <ion-item>
							<ion-label position="floating">Date debut contrat</ion-label>
							<ion-datetime [(ngModel)] = "data_cli.date_debut_contrat" [value]="data_cli.date_debut_contrat" formControlName= "date_debut_contrat" display-format="YYYY-MM-DD" picker-format="YYYY-MM-DD" ></ion-datetime>
						  </ion-item>

						  <ion-item>
							<ion-label position="floating">Date debut contrat</ion-label>
							<ion-datetime [(ngModel)] = "data_cli.date_fin_contrat" [value]="data_cli.date_fin_contrat" formControlName= "date_fin_contrat" display-format="YYYY-MM-DD" picker-format="YYYY-MM-DD"></ion-datetime>
						  </ion-item>
						  </p-tabPanel>

						  <p-tabPanel header="ACTIVATION">
							<ion-item>
								<ion-label position="floating">Coopération ITG</ion-label>
								<ion-select [(ngModel)] = "data_cli.cooperation_itg_id" [value]="data_cli.cooperation_itg_id" formControlName= "cooperation_itg_id" (ionCancel) = "cancel('cooperation_itg_id')" >
								  <ion-select-option *ngFor = "let cooperation_itg of i_t_cooperation_itg" [value] = "cooperation_itg.id" > {{cooperation_itg.name}}</ion-select-option>
								</ion-select>
							</ion-item>
							  
							<ion-item>
								<ion-label position="floating">Activation autorisée</ion-label>
								<ion-select [(ngModel)] = "data_cli.activation_autorisee_id" [value]="data_cli.activation_autorisee_id" formControlName= "activation_autorisee_id" (ionCancel) = "cancel('activation_autorisee_id')" >
								  <ion-select-option *ngFor = "let activation_autorisee of i_t_activation_autorisee" [value] = "activation_autorisee.id" > {{activation_autorisee.name}}</ion-select-option>
								</ion-select>
							</ion-item>
							  
							<ion-item>
								<ion-label position="floating">Préférence animateur</ion-label>
								<ion-select [(ngModel)] = "data_cli.preference_animateur_id" [value]="data_cli.preference_animateur_id" formControlName= "preference_animateur_id" (ionCancel) = "cancel('preference_animateur_id')">
								  <ion-select-option *ngFor = "let preference_animateur of i_t_preference_animateur" [value] = "preference_animateur.id" > {{preference_animateur.name}}</ion-select-option>
								</ion-select>
							</ion-item>
						  
						</p-tabPanel>

						<p-tabPanel header="APPROVISIONNEMENT">
						  <ion-item>
							  <ion-label position="floating">Fréquence d'approvisionnement</ion-label>
							  <ion-select [(ngModel)] = "data_cli.frequence_approvisionnement_id" [value]="data_cli.frequence_approvisionnement_id" formControlName= "frequence_approvisionnement_id" (ionCancel) = "cancel('frequence_approvisionnement_id')" >
								<ion-select-option *ngFor = "let frequence_appro of i_t_frequence_approvisionnement" [value] = "frequence_appro.id" > {{frequence_appro.name}}</ion-select-option>
							  </ion-select>
						  </ion-item>
							
						  <ion-item>
							  <ion-label position="floating">Source d'approvisionnemen</ion-label>
							  <ion-select [(ngModel)] = "data_cli.source_approvisionnement_id" [value]="data_cli.source_approvisionnement_id" formControlName= "source_approvisionnement_id" (ionCancel) = "cancel('source_approvisionnement_id')">
								<ion-select-option *ngFor = "let source_appro of i_t_source_approvisionnement" [value] = "source_appro.id" > {{source_appro.name}}</ion-select-option>
							  </ion-select>
						  </ion-item>
						  
						  <ion-item>
							  <ion-label position="floating">Fournisseur principal</ion-label>
							  <ion-select [(ngModel)] = "data_cli.fournisseur_principal_id" [value]="data_cli.fournisseur_principal_id" formControlName= "fournisseur_principal_id" (ionCancel) = "cancel('fournisseur_principal_id')" >
								<ion-select-option *ngFor = "let fornisseur_principale of i_t_fournisseur_principale" [value] = "fornisseur_principale.id" > {{fornisseur_principale.name}}</ion-select-option>
							  </ion-select>
						  </ion-item>
						  
						  <ion-item>
							  <ion-label position="floating">Fournisseur secondaire</ion-label>
							  <ion-select [(ngModel)] = "data_cli.fournisseur_secondaire_id" [value]="data_cli.fournisseur_secondaire_id" formControlName= "fournisseur_secondaire_id" (ionCancel) = "cancel('fournisseur_secondaire_id')">
								<ion-select-option *ngFor = "let fournisseur_secondaire of i_t_fournisseur_secondaire" [value] = "fournisseur_secondaire.id" > {{fournisseur_secondaire.name}}</ion-select-option>
							  </ion-select>
						  </ion-item>
						  
						</p-tabPanel>
						
					  </p-tabView>

					   <!--ZAVATRA MITSIVALANA-->


					   <!--Commentaire-->

					   <ion-item>
						  <ion-label position="floating">Commentaires</ion-label>
						  <ion-textarea [(ngModel)] = "data_cli.commentaire" [value]="data_cli.commentaire" formControlName= "commentaire" ></ion-textarea>
						</ion-item>

						<!--Commentaire-->


				  </div>
				  
				</form>
			  </div>
			</div>

			<div class="footer"></div>
		</div>
	  </div>
	</ion-content>
	<!--EDIT-->
