<ion-content>
  <div class = "container">
    <!-- HEAD -->
    <div class = "head">
      <div class="back_button" (click) = "open_menu()" >
      <i class="fas fa-th" style=" color: white; font-size: 20px ; font-size: 20px ; vertical-align: -webkit-baseline-middle"></i>
      </div>

      <div class = "menu">
      <div class="list_icon">
        <i class="fas fa-at" style="color: white ;   margin-right: 10px; font-size: 20px ; font-size: 20px ; vertical-align: -webkit-baseline-middle"></i>
        <i class="fas fa-comments" style=" color: white ;   margin-right: 10px; font-size: 20px ; font-size: 20px ; vertical-align: -webkit-baseline-middle"></i>
        <i class="fas fa-ban on fa-camera" style=" color: white ;   margin-right: 10px; font-size: 20px ; font-size: 20px ; vertical-align: -webkit-baseline-middle"></i>
      </div> 
      </div>

      <div class= "menu_icon">
        <i class="fas fa-bars" style=" color: white; font-size: 20px ; font-size: 20px ; vertical-align: -webkit-baseline-middle"></i>
      </div>
    </div>
  
  
    <div class="body">
      <div class = "title_body" > 
          <h3>
              <i class="fas fa-arrow-left" style="font-size: 18px ; color: #21B799"></i> Nouveau
            </h3>
      </div>
        
      <div class = "btn_nw_cr">
            <button pButton type="button" label="SAUVEGARDER"     class="bt ui-button-success" (click)="save_nouveau_fiche_visite()"></button>
            <button pButton type="button" label="ANNULER"     class="bt ui-button-secondary" (click)="abort_nouveau_fiche_visite()"></button>
      </div>

      <div class="breacumb ui-g">
        <div class="ui-g-4 dropdownworkflow">
          <!-- <button pButton type="button" label="VALIDÉE PAR SUPERVISEUR"  class="bt ui-button-secondary"></button> -->
          <p-dropdown [options]="itemsActions" [(ngModel)]="selectedAction" [placeholder]="itemsActions[0].label" optionLabel="label" [showClear]="true" (onChange) = "itemsActionsChange($event.value)"></p-dropdown>
        </div>
        <div class="ui-g-8 dropdownworkflow noCLick"> 
          <!-- <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb> -->
          <p-dropdown [options]="items" [(ngModel)]="selectedWorkFlow" [placeholder]="items.label" optionLabel="label" [showClear]="true"></p-dropdown>
        </div> 
      </div>
      
        
      <div class = "form">
        <div class = "form_inside">
          <form [formGroup]="fg" (ngSubmit) = "demarrer_visite()">
              <button pButton type="submit" label="DÉMARRER LA VISITE" class="bt2 ui-button-success"></button>
              <ion-item class="select-custom">
                  <ion-select  formControlName= "partner_id" placeholder="Sélectionner un point de vente">
                    <ion-select-option *ngFor = "let partner of partner_id" [value]= "partner.id"> {{partner.name}}</ion-select-option>
                  </ion-select>
                </ion-item>

                <div class="ui-g off">
                    <p style="margin-bottom:0px;">Commercial</p>
                    <p style="color: #21B799">{{commercial.login}}</p>
                </div>
                  
                <div class="ui-g">
                  <div class="ui-g-4">
                      <p>POS initial</p>
                  </div>
                  <div class="ui-g-8 align">
                      <p-checkbox [formControl]="fg.controls['pos_initial']"></p-checkbox>
                  </div>
                </div>

                  
                

          </form>
        </div>
      </div>
    </div>
  </div>

</ion-content>