// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face {
    font-family: 'Roboto';
    src: url('../www/assets/font/Roboto-Regular.ttf');
  }
  
  * {
    font-family: 'Roboto';
  }

.container{
    background-position: center;
    background-image: url(/web_enterprise/static/src/img/application-switcher-bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #797083;
    background: -moz-linear-gradient(135deg, #797083, #c59b9c);
    background: -o-linear-gradient(135deg, #c59b9c, #797083);
    background: -webkit-gradient(linear, left top, right bottom, from(#c59b9c), to(#797083));
    width: 100%;
    height: 100%;
}

.head {
    background-color: #875A7B;
    height: 40px;
    display: grid;
    grid-template-columns: 10% 80% 10%;
}


.menu_icon  {
    text-align: -webkit-center;
    margin-top: 5px;
}

.back_button {
    text-align: -webkit-center;
    margin-top: 5px;
}

.list_icon {
    text-align: end;
    margin-right: 14px;
    margin-top: 5px;
}

 //Pagination Tableau
/*.ui-table .ui-paginator-top {
    background: transparent !important;
    border: none !important;
    width: 40px;
    margin-left: auto;
}
body .ui-paginator .ui-paginator-first, body .ui-paginator .ui-paginator-last {
    display: none !important;
}
span.ui-paginator-pages {
    display: none !important;
}
body .ui-paginator .ui-paginator-prev, body .ui-paginator .ui-paginator-next {
    min-width: 10px !important;
} */

body .ui-table .ui-table-thead > tr > th,
body .ui-table .ui-table-tbody > tr > td {
    border: none !important;
}
body .ui-table .ui-table-thead > tr > th {
    background-color: #e2e2e0 !important;
}
body .ui-table .ui-table-tbody > tr:nth-child(even) {
    background-color: #eef0f0 !important;
}
.o_list_view.table thead > tr > th.o_column_sortable:hover {
    background-color: #d6d6d3 !important;
    color: #333333 !important;
}

// STYLES WORKFLOW
.archive.ui-g {
    line-height: 41px;
}

// By Tolotra 08/05/2019
.breacumb.ui-g {
    border-top: 1px solid #8f8f8f;
    border-bottom: 1px solid #8f8f8f;
    margin-top: 10px;
}
body .ui-breadcrumb {
    border: none;
    line-height: 31px;
}
.ui-breadcrumb ul li .ui-menuitem-link {
    font-weight: bold;
}
body .ui-breadcrumb ul li .ui-menuitem-link {
    color: #5b5b5b;
}
ul.CustomArchive {
    margin: 0;
    padding: 0;
    width: 120px !important;
}
ul.CustomArchive li {
    list-style-type: none;
    font-size: 16px;
    padding-right: 10px;
    cursor: pointer;
    border-left: 1px solid #8f8f8f;
    color: #3c763d;
}
ul.CustomArchive li i.pi.pi-folder {
    font-size: 28px;
    position: relative;
    top: 5px;
    right: 10px;
    color: #8f8f8f;
}
.InputObligatoire:host(.item-interactive), .InputObligatoire:host(.item-lines-full) {
    border-width: 0 0 3px 0 !important;
}

// WORKFLOW
.dropdownworkflow {
    text-align: right;
    padding: 0px;
}
.dropdownworkflow .ui-dropdown {
    background: #21b799 !important;
    border: none !important;
    border-radius: 0 !important;
    text-align: center;
}
.dropdownworkflow .ui-inputtext {
    background: #21b799 !important;
    color: #fff !important;
    text-transform: uppercase;
    border-radius: 0 !important;
    text-align: center;
    padding-right: 8px !important;
}
.dropdownworkflow .ui-dropdown-trigger {
    display: none;
}
.dropdownworkflow .ui-widget * {
    background: #21b799 !important;
    color: #ffffff;
    line-height: 35px;
}
.TxtBoldtabPanel {
    font-weight: bold !important;
    margin-bottom: 10px !important;
}
.ForRequired {
    border-bottom: 2px solid #666666;
}
.noPadding {
    padding: 0px !important;
}